 
/*********************** XL Device :1200px. ************************************/
@media (min-width: 1200px) and (max-width: 1500px) {


}

/********************************* LG Device :992px. ***************************/
@media (min-width: 992px) and (max-width: 1200px) {
    .header-area .container-fluid {
        max-width: 992px;
    }
    .main-menu ul li {

        margin-right: 20px;
    }

    .section-title h2 {
        font-weight: 600;
        font-size: 25px;
    }
    .single-project-item {
        overflow: hidden;
        height: 200px;
        margin: 0px auto;
    }
    .slider-content h2 {

        font-size: 30px;

    }
    .blog-meta span {

        font-size: 13px !important;

    }

    .susbcribe-icon i {

        right: 9px;
        top: 150px;

    }

    .about-us-content {

        top: 43.5%;

    }
    /*===blog-page-responsive-style-here=====*/



    .blog-title {
        text-align: center;
    }




}


/****************************** MD Device :768px. ******************************/
@media (min-width: 768px) and (max-width: 991px) {

    .header-area .container-fluid {
        max-width: 768px;
    }
    .main-menu .mean-container .mean-bar {
        float: left;
        width: 100%;
        position: relative;
        background: none !important; 
        padding: 4px 0;
        min-height: 42px;
        z-index: 999999;
        margin: 0 0 !important;
        /* margin-top: 10px; */
        /* display: block; */
    }
    .main-menu .mean-container a.meanmenu-reveal {
        width: 32px;
        height: 27px;
        padding: 13px 13px 11px 13px;
        position: absolute;
        top: -38px;
        right: 0;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 23px;
        font-size: 1px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    .header-area.sticky .main-menu ul li a {
        padding: 20px 37px;
        color: #fff;
    }
    .mean-expand {
        height: 28px !important;
    }
    .mean-container a.meanmenu-reveal span {
        display: block;
        background: #fff;
        height: 2px;
        margin-top: 6px;
    }

    .about-content p {
        width: 350px;
        margin: auto;
        margin-bottom: 20px;
    }
    .single-about {
        text-align: center;
        width: 100%;
    }
    .single-project-item {
        width: 50%;
    }
    .single-project-item.box-bg {

        width: 100%;
    }
    .section-title h2 {
        font-weight: 600;
        font-size: 25px;
    }

    .team-img img {
        max-width: 100%;
    }

    .susbcribe-icon i {

        right: 9px;

    }

    .about-us-content {

        top: 41.5%;

    }


    /*====blog-page-responsive-style-here=====*/
    .main-menu .mean-container a.meanmenu-reveal {
        top: -45px;

    }

.single-about img {
	width: 100%;
	 
}


/*===blog-details-page-style-start-here=====*/

.tag-category li a {
	padding: 10px 0;
	display: block;
	color: #444;
	text-transform:none;
	letter-spacing: 0px;
}
.footer-icon i {
	margin-right: 0px;
	 
}
.para-tags {
	margin-bottom: 30px;
}


.para-comment p {
	padding: 0px; 
	padding-left: 0px;
}
.reply-comment {
	 
	margin-left: 90px;
	 
}
.reply-comment .single-comments span {
	margin-right: -90px;
}

}

/******************* SM Small Device :550px. ***********************************/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .container-fluid {
        max-width: 570px;
    }


    .single-project-item {
        width: 50%;
    }
    .single-project-item.box-bg {

        width: 100%;
    }


    .meanmenu-reveal {
        margin-top: -39px;
    }

    .mean-container .mean-bar {

        background: none;

    }
    .mean-expand {
        height: 28px !important;
    }

    .slider-content h2 {
        font-weight: 400;

        font-size: 30px;

    }
    .text-center-right {
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .footer-icon {
        margin-top: 26px;
        margin-left: 25px;
    }
    .susbcribe-icon i {

        top: 126px;

        left: 188px;
    }
    
    
    
/*    ====blog-page-responsive-style-here====*/
.single-about img {
	width: 100%;
	 
}
.about-img:hover img {
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.para-comment p {
	padding: 3px;
	padding-left: 15px;
}

.para-tags {
	margin-bottom: 30px;
}


.reply-comment {
 
	margin-left: 90px;
 
}

.reply-comment .single-comments span {
	margin-right: -90px;
}

.blog-details-search {
	 
	margin-top: 60px;
}

.blog-details-search i {
 
	top: 114px;
	 
}
.footer-widget {
	margin-bottom: 30px;
}
.footer-icon {
 
	margin-left: 0px;
}
}



/*************************** SM Small Device :0px. *****************************/
@media (max-width: 575.98px) { 



    .header-area .container-fluid {
        width:320px !important; 
    }
    .single-project-item {
        width: 100%;
    }
    .single-project-item.box-bg {

        width: 100%;
    }
    .header-area .container-fluid {
        max-width: 575px;
    }

    .mean-container .mean-bar {
        float: left;
        width: 100%;
        position: relative;
        background: none !important;
        padding: 4px 0;
        min-height: 42px;
        z-index: 999999;
    }

    .mean-container a.meanmenu-reveal {
        width: 28px;
        height: 28px;
        padding: 13px 13px 11px 13px;
        position: absolute;
        top: -42px;
        right: 0;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 28px;
        font-size: 1px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    
    
    
    
/*    ===========blog-details-page-style-and-responsive-start-here===========*/

.blog-title h2 {
 
	font-size: 25px;
}
.para-tags {
	margin-bottom: 30px;
}
.single-comments span.comment-time {
 
	margin-top: -36px;
	right: 0px;
 
}
.reply-comment {
 
	margin-left: 0px; 
	margin-bottom: 50px;
}
.footer-icon {
	margin-bottom: 30px;
}

.susbcribe-icon i {
 
	right: 149px;
	top: 127px;
	 
 
}
}